@media only screen and (max-width: 1024px) {
    body {
      background-size: initial;
    }
  }

  
  @media only screen and (min-width: 480px) {
    body {
      background-size: initial;
    }
  }
  
  @media (min-width: 481px) and (max-width: 1023px) {
    body {
        background-size: initial;
      }
  }
    
