@media(max-width: 1024px){
	.footersection {
	background-color: lightgreen;
}

  @media only screen and (min-width: 480px) {
    .content {
      background-color: #909090;
    }
  }
  
  @media (min-width: 481px) and (max-width: 1023px) {
    .maincontent {
        background-size: #C90000;
      }
  }
    
