.body
{
	background-image: url('https://image.shutterstock.com/image-photo/vintage-wallpaper-floral-pattern-18th-600w-233016973.jpg');
  /*  <img src="D:\CSE309_WEB\Class\cw123-suhamou\classwork\back.jpg">*/
}
#header a:hover 
{
	color: #fff;
}

#bg-img
{
	background: url('pc.JPG');
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 360px;
}
#bg-img .container{
	margin-top: 90px !important;
}
#about
{
	margin-top: -200px;
}
	}
#about.fa
{
	color: #3cb371;
}
#about span
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:10px;
	padding-top: 10px;

}
#education span
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#skills span
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact span
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mail{
	margin-top: 20px;
	margin-bottom: 20px;

}
.submit{
	margin-left: 10px;
}