*{margin:0; padding:0: outline:0; }
body{
	font-family: Arial; font-size: 14px; line-height: 20px;color: #000000;
}
.headersection{
height: 150px;
 background:#5B5B5B;
  color: #156FA0 ;
  font-size: 20px;
  text-align: left;
  padding-top: 20px;
  
}
.navsection{

}
.content{
	background-color: skyblue;


}
.maincontent{
	width: 500px;
	float: left;
	div {
		background-image: url('pc2.jpg');
	  }


}
.sidebar{
float: right;

}
.footersection{
 background-color: darkgoldenrod;
 font-size: 30px;
 padding-top: 20px;
 padding-bottom: 30px;
}
.img{
	height: 200px;
	width: 100px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	float: right ;
}
.template{
	width: 960px; margin:0 auto }
}
clear{overflow: hidden;}
.p{
	text-align: center;
	padding-bottom: 10px;
	padding-top:20px;
	text-shadow: black;
}
.tbl{
	padding-top: 20px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	pa
}

.mail{
	margin-top: 20px;
	margin-bottom: 20px;

}
.submit{
	margin-left: 10px;
}

.attribute{
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
}
.container{

}
#header{
	font-style: initial;
}

